.work-eg__grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.work-eg__grid-item {
    position: relative;
    overflow: hidden;
}
.grid-item__hover-div {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 2px solid transparent;
    background: rgba(255, 255, 255, 1);
    transition: all 0.3s;
    -webkit-transition: all 0.4s ease-in;
}
.grid-item__hover-div__buttons {
    display: flex;
    justify-content: center;
    margin: 0 0 18px 0;
}
.grid-item__hover-div__buttons .fa-search,
.grid-item__hover-div__buttons .fa-link {
    position: relative;
    padding: 8px;
    font-size: 8px;
}
.grid-item__hover-div__buttons .fa-search {
    color: rgba(255, 255, 255, 1);
}
.grid-item__hover-div__buttons .fa-link {
    color: rgba(24, 207, 171, 1);
    margin: 0 3px 0 0;
}
.grid-item__hover-div__buttons .fa-search::after,
.grid-item__hover-div__buttons .fa-link::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}
.grid-item__hover-div__buttons .fa-search::after {
    background: rgba(24, 207, 171, 1);
    border: 1px solid transparent;
}
.grid-item__hover-div__buttons .fa-link::after {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(24, 207, 171, 1);
}
.grid-item__hover-div__buttons .fa-search::before,
.grid-item__hover-div__buttons .fa-link::before {
    position: relative;
    left: -1px;
    z-index: 2;
}
.grid-item__hover-div__info-service {
    color: rgba(24, 207, 171, 1);
    font-size: 0.35rem; 
    margin: 0 0 9px 0;
}
.grid-item__hover-div__info-cluster {
    color: rgba(138, 138, 138, 1);
    font-size: 0.30rem;
    margin: 0 0 5px 0;
}
.work-eg__grid-item:hover .grid-item__hover-div {
    bottom: 0;
    border-top: 2px solid rgba(24, 207, 171, 1);
}
.lds-work {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-work div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: rgba(24, 207, 171, 0.4);;
    animation: lds-work 0.6s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-work div:nth-child(1) {
    left: 6px;
    animation-delay: -0.12s;
}
.lds-work div:nth-child(2) {
    left: 26px;
    animation-delay: -0.06s;
}
.lds-work div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-work {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
}
  